/*
===================================
|| HERO                           |
===================================
*/
/* hero section */
.hero {
  background-image: repeating-linear-gradient(
    135deg,
    var(--CLR-PRIMARY-5) 5px,
    var(--CLR-PRIMARY-8) 8px
  );
}
/* 
firefox hero section 
this is just duo to the fact
firefox was not rendering the 
repeating linear gradient as 
expected so i have to tweak some 
value
*/
@-moz-document url-prefix() {
  .hero {
    background-image: -moz-repeating-linear-gradient(
      36deg,
      var(--CLR-PRIMARY-5) 7px,
      var(--CLR-PRIMARY-8) 11px
    );
  }
}
/* hero section container */
.hero__container {
  display: grid;
  place-items: center;

  min-height: calc(100vh - 5rem);
  min-height: calc(100dvh - 5rem);

  /* grid-template-columns: repeat(2, 1fr); */
}

@media screen and (min-width: 48em) {
  /* large screen hero section container */
  .hero__container {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* underline added to globals */

.hero__title {
}

/* hero title underline  */
.hero .title::after {
  top: -1.2rem;
  left: 0;
  transform: translateX(0%);
  background-image: linear-gradient(
    14deg,
    var(--CLR-PRIMARY-3),
    var(--CLR-PRIMARY-5)
  );
}
/* hero intro text */
.hero__intro__text {
  font-size: clamp(0.875rem, 2.5vw, 1rem);
  letter-spacing: var(--LETTER-SPACING);
  font-weight: 700;
  color: var(--CLR-GREY-5);
  margin-block-end: 0.75rem;
}

/* hero social icon container */
.hero__social__container {
  place-items: normal;
}

/* hero img container */
.hero__img__container {
  display: none;
}
@media screen and (min-width: 48em) {
  /* large screen hero img container */
  .hero__img__container,
  .user__img__container {
    display: inline-block;
  }
}
/*
===================================
|| ABOUT                          |
===================================
*/
/* about section container */
.about__container {
  display: grid;
  justify-content: center;
  justify-items: center;
  gap: 4rem 2rem;
  /* grid-template-columns: min-content; */
}
@media screen and (min-width: 48em) {
  .about__container {
    grid-template-columns: repeat(2, 1fr);
  }
}
/* about section img border */
.about__user__img__container::after {
  right: auto;
  left: -2rem;
  border-color: var(--CLR-PRIMARY-5);
  /* box-shadow: -0.25rem 0.25rem 5px rgba(0, 0, 0, 0.37); */
}
.about__img {
  /* box-shadow: -0.5rem 0.5rem 5px rgba(0, 0, 0, 0.371); */
}

/* about title */
.about__title {
  margin-block-end: 3rem;
}
/* about title underline */
.about__title::after {
  top: auto;
  bottom: -1.2rem;
  left: 0;
  transform: translateX(0);
}

/*
===================================
|| SERVICES                       |
===================================
*/
/* services section  */
.services {
  background-color: var(--CLR-GREY-10);
  background-image: repeating-linear-gradient(
    135deg,
    var(--CLR-GREY-9) 5px,
    var(--CLR-GREY-10) 8px
  );
}

/* 
firefox hero section 
this is just duo to the fact
firefox was not rendering the 
repeating linear gradient as 
expected so i have to tweak some 
value
*/
@-moz-document url-prefix() {
  .services {
    background-image: -moz-repeating-linear-gradient(
      36deg,
      var(--CLR-GREY-9) 7px,
      var(--CLR-GREY-10) 11px
    );
  }
}
/* services section title */
.services__title {
  text-align: center;
  margin-block-end: 4rem;
}
/* services list */
.services__list {
  gap: 2rem;
  display: grid;
}
@media screen and (min-width: 42em) {
  .services__list {
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (min-width: 62em) {
  .services__list {
    grid-template-columns: repeat(3, 1fr);
  }
}
/* service__item */
.service__item {
  background-color: var(--CLR-PRIMARY-10);
  padding: 3rem 1.5rem;
  text-align: center;
  display: grid;
  grid-template-rows: auto 1fr;
  border-radius: var(--RADIUS);
  box-shadow: var(--LIGHT-SHADOW);
  transition: var(--TRANSITION);
}
.service__item:hover {
  color: white;
  background-color: var(--CLR-PRIMARY-5);
}
.service__title::after,
.service__text {
  transition: var(--TRANSITION);
}
.service__item:hover .service__title::after {
  background-image: none;
  background-color: white;
}
.service__item:hover .service__text {
  color: white;
}
.service-icon {
  font-size: 2rem;
  margin-block-end: 1.5rem;
}
.service__title {
  margin-block-end: 2rem;
}
.service__title::after {
  bottom: -1rem;
  height: 2px;
  width: 3rem;
}

/*
===================================
|| PROJECTS                       |
===================================
*/
.project__list {
  display: grid;
  gap: 2rem;
}
@media screen and (min-width: 42em) {
  .project__list {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (min-width: 62em) {
  .project__list {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 200px 200px;
  }
}
.project__item__container a {
  display: block;
  height: 100%;
}
.project__item__container:nth-child(1) {
  grid-column: 1/1;
  grid-row: 1/ -1;
}
.project__item__container:nth-child(2) {
  grid-area: 1 / 2 / 2 / -1;
  /* grid-column: 2/-1; */
}
.project__item {
  height: 100%;
  position: relative;
  background-color: var(--CLR-PRIMARY-6);
  border-radius: var(--RADIUS);
  overflow: hidden;
  /* margin-bottom: 4rem; */
}

.project__item::after {
  content: "";
  /* width: 100%; */
  /* height: 100%; */
  inset: 0;
  border-radius: var(--RADIUS);
  border: 4px solid white;
  position: absolute;
  opacity: 0;
  transition: var(--TRANSITION);
  z-index: 99;
}
.project__item:hover:after {
  inset: 2rem;
  opacity: 1;
}

.projects__title {
  text-align: center;
  margin-block-end: 2.5rem;
}
.projects__title::after {
  bottom: -1rem;
}

.projects__text {
  max-width: min(85%, 30rem);
  margin-inline: auto;
  text-align: center;
  margin-block-end: 4rem;
}
.project__img__container {
  height: 100%;
}
.project__img {
  height: 15rem;
  transition: var(--TRANSITION);
  object-fit: cover;
}
@media screen and (min-width: 62em) {
  .project__img {
    height: 100%;
  }
}
.project__item:hover .project__img {
  opacity: 0;
}
.project__header {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.project__header > :is(.project__title, .project__intro__text) {
  color: white;
  filter: blur(5px);
  opacity: 0;
  transition: var(--TRANSITION);
  transform: scale(1.5);
  text-align: center;
}
.project__item:hover
  > .project__header
  > :is(.project__title, .project__intro__text) {
  filter: blur(0);
  opacity: 1;
  transform: scale(1.1);
}
/*
===================================
|| CONNECT                        |
===================================
*/
.contact {
  min-height: 40rem;
  position: relative;
  padding-block: 10rem 5rem;
  margin-block: 5rem;
}
.contact::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.593);

  z-index: -2;
}
.contact__video__container {
  position: absolute;
  z-index: -3;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  clip-path: polygon(50% 0%, 100% 10%, 100% 90%, 50% 100%, 0 90%, 0 10%);
  -webkit-clip-path: polygon(
    50% 0%,
    100% 10%,
    100% 90%,
    50% 100%,
    0 90%,
    0 10%
  );
}
.contact__video {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.contact__text__container {
  text-align: center;
  max-width: min(100%, 40rem);
  padding: 5rem 1rem;
  z-index: 1;
  background-color: var(--CLR-PRIMARY-10);
}
@media screen and (min-width: 48em) {
  .contact__text__container {
    padding: 3rem 5rem 12rem;
    /* max-width: 40rem; */
    --webkit-clip-path: polygon(
      0% 0%,
      100% 0%,
      100% 75%,
      75% 75%,
      75% 100%,
      50% 75%,
      0% 75%
    );
    clip-path: polygon(
      0% 0%,
      100% 0%,
      100% 75%,
      75% 75%,
      75% 100%,
      50% 75%,
      0% 75%
    );
  }
}
.contact__title {
  margin-block-end: 3rem;
}
.contact__title::after {
  bottom: -1rem;
}

.about__btn,
.about__btn:any-link {
  margin-block-end: 0;
  background-image: linear-gradient(
    145deg,
    var(--CLR-PRIMARY-7) 50%,
    var(--CLR-PRIMARY-5) 50%
  );
}
/*
===================================
||  SKILLS                        |
===================================
*/
.skills {
  background-image: repeating-linear-gradient(
    135deg,
    var(--CLR-PRIMARY-5) 5px,
    var(--CLR-PRIMARY-8) 8px
  );
}
/* 
firefox hero section 
this is just duo to the fact
firefox was not rendering the 
repeating linear gradient as 
expected so i have to tweak some 
value
*/
@-moz-document url-prefix() {
  .skills {
    background-image: -moz-repeating-linear-gradient(
      36deg,
      var(--CLR-PRIMARY-5) 7px,
      var(--CLR-PRIMARY-8) 11px
    );
  }
}

.skills .title::after {
  bottom: -1rem;
  background-image: linear-gradient(
    14deg,
    var(--CLR-PRIMARY-3),
    var(--CLR-PRIMARY-5)
  );
}
.skills__title {
  text-align: center;
  margin-block-end: 5rem;
}
.skills__body {
  display: grid;
  gap: 3rem;
}

@media screen and (min-width: 62em) {
  .skills__body {
    /* display: grid; */
    grid-template-columns: 1fr 1fr;
  }
}
.skill__list {
  display: grid;
  gap: 2rem;
}
.skill__title {
  color: var(--CLR-PRIMARY-2);
  margin-block-end: 1.5rem;
}
.skill__item__title {
  letter-spacing: normal;
  font-weight: normal;
  margin-block-end: 0.5rem;
}
.skill__details {
  position: relative;
}
.skill__percentage__bar {
  background-color: white;
  width: 100%;
  height: 1.5rem;
  border-radius: var(--RADIUS);
  position: relative;
  overflow: hidden;
  box-shadow: 0 0 0.25rem rgba(0, 0, 0, 0.455);
}
.skill__percentage__bar::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* background-color: var(--CLR-PRIMARY-5); */
  background-image: linear-gradient(
    145deg,
    var(--CLR-PRIMARY-5) 25%,
    var(--CLR-PRIMARY-6) 50%,
    transparent 50%
  );
  /* border-radius: var(--RADIUS); */
}
.skills__percentage__value {
  position: absolute;
  top: -1.8rem;
  left: 50%;
  height: 100%;
  color: var(--CLR-PRIMARY-1);
  font-weight: 700;
  font-size: 0.875rem;
}

.skill__list__item:nth-child(2) .skills__percentage__value {
  left: 70%;
}
.skill__list__item:nth-child(3) .skills__percentage__value {
  left: 80%;
}
.skill__list__item:nth-child(2) .skill__percentage__bar::before {
  background-image: linear-gradient(
    145deg,
    var(--CLR-PRIMARY-5) 25%,
    var(--CLR-PRIMARY-6) 70%,
    transparent 70%
  );
}
.skill__list__item:nth-child(3) .skill__percentage__bar::before {
  background-image: linear-gradient(
    145deg,
    var(--CLR-PRIMARY-5) 25%,
    var(--CLR-PRIMARY-6) 80%,
    transparent 80%
  );
}
/*
===================================
|| TIMELINE                       |
===================================
*/
.timeline__title {
  text-align: center;
  margin-block-end: 5rem;
}
.timeline__title::after {
  bottom: -1rem;
}
.timeline__list {
  display: grid;
  /* gap: 2rem; */
  max-width: min(80%, 40rem);
  margin-inline: auto;
}
.timeline__item {
  position: relative;
}
.timeline__item__container:first-child .timeline__item {
  border-right: 2px dashed var(--CLR-PRIMARY-5);
  border-bottom-right-radius: 2rem;
  padding: 4rem 2rem 4rem 0;
  margin-inline-start: 2rem;
}
.timeline__item__container:nth-child(odd):not(:first-child) .timeline__item {
  border-right: 2px dashed var(--CLR-PRIMARY-5);
  border-top: 2px dashed var(--CLR-PRIMARY-5);
  border-bottom-right-radius: 2rem;
  border-top-right-radius: 2rem;
  margin-inline-start: 2rem;
  padding: 4rem 2rem 4rem 0;
}
.timeline__item__container:nth-child(even) .timeline__item {
  border-left: 2px dashed var(--CLR-PRIMARY-5);
  border-top: 2px dashed var(--CLR-PRIMARY-5);
  border-bottom-left-radius: 2rem;
  border-top-left-radius: 2rem;
  margin-inline-end: 2rem;
  padding: 4rem 0 4rem 2rem;
}
.timeline__item__container:last-child .timeline__item {
  border-bottom-left-radius: 0;
}

.timeline__item__no {
  position: absolute;
  top: 50%;

  width: 2.3rem;
  height: 2.3rem;
  display: grid;
  place-items: center;
  /* place-content: center; */
  background-color: var(--CLR-PRIMARY-5);
  border-radius: 50%;
  color: var(--CLR-PRIMARY-10);
  font-weight: 700;
  text-shadow: 0 0 2px rgba(0, 0, 0, 0.396);
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.705);
}
.timeline__item__container:nth-child(even) .timeline__item__no {
  left: 0;
  transform: translateY(-50%) translateX(-50%);
}
.timeline__item__container:nth-child(odd) .timeline__item__no {
  right: 0;
  transform: translateY(-50%) translateX(50%);
}
/*
===================================
|| BLOG                           |
===================================
*/
.blogs {
  background-color: var(--CLR-GREY-10);
  background-image: repeating-linear-gradient(
    135deg,
    var(--CLR-GREY-9) 5px,
    var(--CLR-GREY-10) 8px
  );
}

/* 
firefox hero section 
this is just duo to the fact
firefox was not rendering the 
repeating linear gradient as 
expected so i have to tweak some 
value
*/
@-moz-document url-prefix() {
  .blogs {
    background-image: -moz-repeating-linear-gradient(
      36deg,
      var(--CLR-GREY-9) 7px,
      var(--CLR-GREY-10) 11px
    );
  }
}

.blogs__title {
  text-align: center;
  margin-block-end: 2.5rem;
}

.blogs__title::after {
  bottom: -1rem;
}

.blog__list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2rem;
}
.blog__item {
  position: relative;
  height: 27rem;
  perspective: 1500px;
  /* transform-style: preserve-3d; */
}
.blog__item__header {
  height: 100%;
  display: grid;
  grid-template-rows: auto 1fr;
}
.card__side {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  backface-visibility: hidden;
  transition: transform 1s;
}
.blog__text__container {
  display: grid;
  grid-template-rows: auto 1fr auto;
  padding: 0.5rem 1.5rem;
}
.blog__img {
  height: 13rem;
  width: 100%;
  object-fit: cover;
  /* margin-block-end: 0.5rem; */
}
.blog__postage__details {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.5rem;
  align-items: center;
  margin-block-end: 0.5rem;
}
.blog__author__img {
  height: 2rem;
  width: 2rem;
  object-fit: cover;
  border-radius: 50%;
  box-shadow: 2px 0 5px var(--CLR-PRIMARY-1);
}
.blog__read__duration {
  justify-self: end;
  font-size: 0.875rem;
  color: var(--CLR-PRIMARY-5);
}
.card__front,
.card__back {
  border-radius: var(--RADIUS);
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.501);
}
.card__front {
  background-color: var(--CLR-WHITE);
}
.card__back {
  background-color: var(--CLR-PRIMARY-8);
  transform: rotateY(180deg);
  /* background-image: repeating-linear-gradient(
    135deg,
    var(--CLR-PRIMARY-8) 5px,
    var(--CLR-GREY-10) 8px
  ); */
  display: grid;
  place-content: center;
  /* z-index: 999; */
}
.blog__item:hover .card__front {
  transform: rotateY(-180deg);
}
.blog__item:hover .card__back {
  transform: rotateY(0deg);
}
.about__item .btn {
  margin-block-end: 0;
}
